<ion-header no-border [translucent]="true">
	<ion-toolbar>
		<ion-title text-capitalize>Orden</ion-title>
	</ion-toolbar>
	<!-- <ion-searchbar (ionInput)="buscar($event)" animated="true" placeholder="Buscar" color="medium"
		show-clear-button="always" clear-icon="trash-bin"></ion-searchbar> -->

		<ion-segment [scrollable]="true" value="ACTIVO" (ionChange)="segmentChanged($event)">
			<ion-segment-button value="ACTIVO">
				<ion-label>ACTIVO</ion-label>
			</ion-segment-button>
			<ion-segment-button value="PROCESADA">
				<ion-label>PROCESADA</ion-label>
			</ion-segment-button>
			<ion-segment-button value="default">
				<ion-label>TODOS</ion-label>
			</ion-segment-button>
		</ion-segment>



</ion-header>

<ion-content [fullscreen]="true">

	<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	  </ion-refresher>

	<ng-container *ngIf="getAction('create')">
		<ion-fab slot="fixed" vertical="bottom" horizontal="end">
			<ion-fab-button size="small" [routerLink]="['/add-order']">
				<ion-icon name="add"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</ng-container>
	<app-order-c *ngFor="let item of list | filtro: filtroEstado: 'estado' | orderby:'desc':'idorden' "
		[order]="item"></app-order-c>
</ion-content>
