<ion-header  no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/" text=""></ion-back-button>
		</ion-buttons>
		<ion-title text-capitalize>Detalle del Servicio</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list *ngIf="loaded">
		<ion-item>
			<ion-label>
				<div class="border-b-2 border-gray-300 my-2">
					<strong> #{{ item.iddetalleorden }}  <ion-chip color="primary">{{ item.estado }}</ion-chip></strong>
					<p> <strong> Servicio: </strong> {{ item.servicio }} </p>
					<p> <strong> Cantidad: </strong> {{ item.cantidad }}</p>
					<p>{{ item.ciudadservicio }} - {{ item.deptoservicio}}</p>
					<p>{{ item.fechaentrega}} - {{ item.horaentrega }}</p>
				</div>
				<ng-container>
					<div class="border-b-2 border-gray-300 my-2">
						<p> <strong> Cliente: </strong> {{ item.cliente }}</p>
						<p> <strong> Sede: </strong> {{ item.clientesede }}</p>
						<p> <strong> Fecha de Entrega: </strong> {{ item.fechaentrega }}</p>
						<p> <strong> Hora de Entrega: </strong> {{ item.horaentrega }}</p>
						<!-- <p> <strong> Fecha de Registro: </strong> {{ item.fecha }}</p>
					<p> <strong> Hora de Registro: </strong> {{ item.fecha }}</p> {{ item.fecha | date: 'short' | setTimeDifference }} -->
						<p> <strong> Un. Medida: </strong> {{ item.unidadmedida }}</p>
						<p> <strong> Servicio: </strong> {{ item.servicio }}</p>
						<p> <strong> Cantidad: </strong> {{ item.cantidad }}</p>
					</div>
					<ng-container *ngIf="true">
						<!-- <ng-container *ngIf="viewInfoOrden"> -->
						<div class="border-b-2 border-gray-300 my-2">
							<p> <strong> Tipo de Servicio: </strong> {{ item.tipoorden }}</p>
							<p> <strong> Tercero: </strong> {{ item.tercero || 'Sin tercero' }}</p>
							<p> <strong> Referencia: </strong> {{ item.referencia }}</p>
							<p> <strong> Observación: </strong> {{ item.observacion }}</p>
						</div>
						<ng-container *ngIf="![2, 3, 4].includes(idrole)">
							<ng-container *ngIf="![2].includes(idrole)">
								<div class="border-b-2 border-gray-300 my-2">
									<p *ngIf="item.precio_compra"> <strong> Precio de Compra: </strong> {{
										item.precio_compra | currency:"COP ":"symbol"}}</p>
									<p *ngIf="!item.precio_compra"> <strong> Precio de Compra: </strong> Sin precio de
										compra</p>
								</div>
							</ng-container>

							<ng-container *ngIf="![3, 4].includes(idrole)">
								<div class="border-b-2 border-gray-300 my-2">
									<p *ngIf="item.precio_venta"> <strong> Precio de Venta: </strong> {{
										item.precio_venta | currency:"COP ":"symbol"}}</p>
									<p *ngIf="!item.precio_venta"> <strong> Precio de Venta: </strong> Sin precio de
										venta</p>
								</div>
							</ng-container>


							<ng-container *ngIf="![2].includes(idrole)">
								<div class="border-b-2 border-gray-300 my-2">
									<p *ngIf="item.precio_compra"> <strong> Total de Precio de Compra: </strong> {{
										(item.precio_compra * item.cantidad) | currency:"COP":"symbol"}}</p>
									<p *ngIf="!item.precio_compra"> <strong> Total de Precio de Compra: </strong> Sin
										precio de compra</p>
								</div>
							</ng-container>

							<ng-container *ngIf="![3, 4].includes(idrole)">
								<div class="border-b-2 border-gray-300 my-2">
									<p *ngIf="item.precio_venta"> <strong> Total Precio de Venta: </strong>{{
										(item.precio_venta * item.cantidad) | currency:"COP":"symbol"}}</p>
									<p *ngIf="!item.precio_venta"> <strong> Total Precio de Venta: </strong>Sin precio
										de venta</p>
								</div>
							</ng-container>
						</ng-container>
					</ng-container>

					<ng-container *ngIf="false">
						<!-- <ng-container *ngIf="viewInfoOrden"> -->
						<ng-container *ngIf="true">
							<div class="grid grid-cols-2 grid-rows-2 gap-4 my-2 pb-2 border-b-2 border-gray-300">
								<ng-container *ngIf="true">
									<p *ngIf="item.precio_compra"> <strong> Precio de Compra: </strong> {{
										item.precio_compra | currency:"COP ":"symbol"}}</p>
									<p *ngIf="!item.precio_compra"> <strong> Precio de Compra: </strong> Sin precio de
										compra</p>
								</ng-container>

								<ng-container *ngIf="true">
									<p *ngIf="item.precio_venta"> <strong> Precio de Venta: </strong> {{
										item.precio_venta | currency:"COP ":"symbol"}}</p>
									<p *ngIf="!item.precio_venta"> <strong> Precio de Venta: </strong> Sin precio de
										venta</p>
								</ng-container>

								<ng-container *ngIf="true">
									<p *ngIf="item.precio_compra"> <strong> Total de Precio de Compra: </strong>
										{{(item.precio_compra * item.cantidad) | currency:"COP":"symbol"}}</p>
									<p *ngIf="!item.precio_compra"> <strong> Total de Precio de Compra: </strong> Sin
										precio de compra</p>
								</ng-container>

								<ng-container *ngIf="true">
									<p *ngIf="item.precio_venta"> <strong> Total Precio de Venta: </strong>{{
										(item.precio_venta * item.cantidad) | currency:"COP":"symbol"}}</p>
									<p *ngIf="!item.precio_venta"> <strong> Total Precio de Venta: </strong>Sin precio
										de venta</p>
								</ng-container>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>

				<ion-grid [fixed]="true">
					<ion-row>
						<ng-container *ngIf="getAction('upload_support')">
							<ng-container *ngIf="item.estado === 'ASIGNADA'">
								<ion-col>
									<ion-button size="small"
										(click)="getDetailSupportSelect(item.iddetalleorden, 'upload')">
										Cargar
									</ion-button>
									<ion-modal #modalView [isOpen]="isOpenFile">
										<ng-template>
											<app-file class="ion-page" title="Cargar" [items]="listSupports" action="upload"
												[iddetalleorden]="item.iddetalleorden"
												(selectionChange)="selectionChanged($event)"
												(selectionCancel)="modalView.dismiss()"></app-file>
										</ng-template>
									</ion-modal>
								</ion-col>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="getAction('view_support')">
							<ng-container *ngIf="!['ASIGNADA', 'POR ASIGNAR'].includes(item.estado)">
								<ion-col>
									<ion-button size="small" color="tertiary"
										(click)="getDetailSupportSelect(item.iddetalleorden, 'view')">
										Vizualizar Soportes</ion-button>
										<ion-modal #modalUpload [isOpen]="isOpen">
											<ng-template>
												<app-file class="ion-page" title="Visualizar" [items]="listSupports" action="view"
													[iddetalleorden]="item.iddetalleorden" (selectionChange)="selectionChanged($event)"
													(selectionCancel)="modalUpload.dismiss()"></app-file>
											</ng-template>
										</ion-modal>
								</ion-col>
							</ng-container>
						</ng-container>
					</ion-row>
					<ion-button type="ion-button"
									class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2"
									(click)="showPanelSupport()">
									Visualizar soportes Iniciales
								</ion-button>

								<ion-modal #modal [isOpen]="isOpenView">
									<ng-template>
										<app-view-file-start class="ion-page" title="Visualizar" [items]="item.soporte"
											action="view" [iddetalleorden]="item.iddetalleorden"
											(selectionChange)="selectionChanged($event)"
											(selectionCancel)="modal.dismiss(); isOpenView = false"></app-view-file-start>
									</ng-template>
								</ion-modal>
				</ion-grid>
				<ion-grid [fixed]="true">
					<ng-container *ngIf="getAction('changeStatusDetail')">
						<ng-container *ngIf="item.estado === 'ASIGNADA'">
							<ion-row>
								<ion-col>
									<ion-button color="success" expand="full" (click)="changeStatusOrderDetail(item, 'P')">
										<ion-icon size="small" slot="end" name="send-outline"></ion-icon>
										Finalizar
									</ion-button>
								</ion-col>
							</ion-row>
						</ng-container>
					</ng-container>
				</ion-grid>
			</ion-label>

		</ion-item>

	</ion-list>

	<ion-list *ngIf="!loaded">
		<ion-list-header>
			<ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
		</ion-list-header>
		<ion-item>
			<ion-thumbnail slot="start">
				<ion-skeleton-text [animated]="true"></ion-skeleton-text>
			</ion-thumbnail>
			<ion-label>
				<h3>
					<ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
				</h3>
				<p>
					<ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
				</p>
				<p>
					<ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
				</p>
			</ion-label>
		</ion-item>
	</ion-list>



	<!--
	<div class="shadow my-2 p-4 rounded-lg bg-white cursor-pointer"
		[ngClass]="{'border-2 border-primary-500': item.showInfo}">



		<div class="flex justify-between mt-2">
			<div>
				<ng-container *ngIf="item.estado === 'POR ASIGNAR'">
					<ion-button type="ion-button"
						class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2"
						(click)="getThirdsServices(item)">
						Asignar
					</ion-button>
					<ion-modal #modal [isOpen]="isOpen">
						<ng-template>
							<app-assign class="ion-page" title="Asignar tercero" [items]="list"
								[iddetalleorden]="item.iddetalleorden" [selectedItems]="selected"
								(selectionChange)="selectionChanged($event)"
								(selectionCancel)="modal.dismiss()"></app-assign>
						</ng-template>
					</ion-modal>
				</ng-container>


				<ng-container *ngIf="false">
					-->
	<!-- OJO ya estaba comentariado <ng-container *ngIf="item.estado === 'ASIGNADA'"></ng-container> -->

	<!-- <ion-button type="ion-button" *ngIf="false"
						class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2">
						Cargar
					</ion-button> -->
	<!-- <ion-modal #modal [isOpen]="isOpenFile">
								<ng-template>
									<app-file class="ion-page" title="Cargar" [items]="listSupport"
										action="upload"
										[iddetalleorden]="item.iddetalleorden"
										(selectionChange)="selectionChanged($event)"
										(selectionCancel)="modal.dismiss()"></app-file>
								</ng-template>
							</ion-modal> -->
	<!-- </ng-container>
			</div>
			<div>
				<ion-button *ngIf="!item.showInfo" (click)="item.showInfo = !item.showInfo" type="ion-button"
					class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2">
					<ion-icon name="arrow-down-outline"></ion-icon>
				</ion-button>
				<ion-button *ngIf="item.showInfo" (click)="item.showInfo = !item.showInfo" type="ion-button"
					class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2">
					<ion-icon name="arrow-up-outline"></ion-icon>
				</ion-button>
			</div>
		</div>
	</div>-->
</ion-content>
