<ion-header no-border>
  <ion-toolbar>
    <ion-title text-capitalize>Analisis</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-card class="shadow made-card">
          <ion-card-content>
            <div class="value">{{_resultado.realizadas}}</div>
            <div class="label"> <strong> Realizadas </strong></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="shadow assigned-card">
          <ion-card-content>
            <div class="value">{{_resultado.asignadas}}</div>
            <div class="label"> <strong> Asignadas </strong></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="shadow to-assign-card">
          <ion-card-content>
            <div class="value">{{_resultado.pasignar}}</div>
            <div class="label"> <strong> Pend Asignar </strong> </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="shadow cancelled-card">
          <ion-card-content>
            <div class="value">{{_resultado.anuladas}}</div>
            <div class="label"> <strong> Anuladas </strong> </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="shadow total-card">
          <ion-card-content>
            <div class="value">{{_resultado.total}}</div>
            <div class="label"> <strong> Total </strong> </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>