<ion-header no-border>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/" text=""></ion-back-button>
		</ion-buttons>
		<ion-title text-capitalize>Crear Orden</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-list>
		<ion-item>
			<ion-select justify="space-between" placeholder="Seleccionar" [(ngModel)]="data.idtipoorden"
				label-placement="floating">
				<div slot="label">Tipo de orden <ion-text color="danger">(Requerido)</ion-text></div>
				<ion-select-option *ngFor="let item of listTypes" [value]="item.idtipoorden"> {{ item.nombre
					}}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-select justify="space-between" placeholder="Seleccionar" [(ngModel)]="data.idcliente"
				label-placement="floating" (ionChange)="getSites(data.idcliente)">
				<div slot="label">Cliente <ion-text color="danger">(Requerido)</ion-text></div>
				<ion-select-option *ngFor="let item of listCustomers" [value]="item.idcliente">{{ item.razonsocial
					}}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-select justify="space-between" placeholder="Seleccionar" [(ngModel)]="data.idclientesede"
				label-placement="floating" [disabled]="listSites.length === 0">
				<div slot="label">Sede <ion-text color="danger">(Requerido)</ion-text></div>
				<ion-select-option *ngFor="let item of listSites" [value]="item.idclientesede">{{ item.cliensede
					}}</ion-select-option>
			</ion-select>
		</ion-item>


		<ion-item>
			<div slot="label">Fecha y hora de entrega</div>
			<ion-datetime-button datetime="datetime"></ion-datetime-button>

			<ion-modal [keepContentsMounted]="true">
				<ng-template>
					<ion-datetime id="datetime" [(ngModel)]="data.fechaentrega"></ion-datetime>
				</ng-template>
			</ion-modal>
		</ion-item>

		<ion-item>
			<ion-textarea label="Observación" labelPlacement="floating" [(ngModel)]="data.observacion"
				placeholder="....."></ion-textarea>

		</ion-item>

		<ion-item>
			<ion-button type="button"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm"
				(click)="addService = !addService">
				Servicio
				<ion-icon name="add-outline"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>


	<ng-container *ngIf="addService">
		<ion-list>
			<ion-item>
				<ion-select justify="space-between" placeholder="Seleccionar" [(ngModel)]="dataDetail.idservicio"
					label-placement="floating">
					<div slot="label">Servicio <ion-text color="danger">(Requerido)</ion-text></div>
					<ion-select-option *ngFor="let item of listServices" [value]="item.idservicio"> {{ item.nombre
						}}</ion-select-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-input label="Cantidad" [(ngModel)]="dataDetail.cantidad"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input label="Referencia" [(ngModel)]="dataDetail.referencia"></ion-input>
			</ion-item>

			<ion-item>
				<ion-textarea label="Observación" placeholder="..." [(ngModel)]="dataDetail.observacion"></ion-textarea>
			</ion-item>

			<ion-item>
				<ion-buttons [collapse]="true">
					<label class="button bg-blue-400 rounded-md shadow-sm text-white p-1.5" for="support_file">
						Adjuntar soporte(s)
					</label>
					<input type="file" class="hidden" multiple id="support_file" (change)="onFileChange($event)">
					<ion-button class="bg-orange-400 rounded-md shadow-sm text-white" (click)="fnAddDetails()">
						Agregar
					</ion-button>
				</ion-buttons>
			</ion-item>

			<ion-item>
				<ng-container *ngIf="dataDetail.soporte?.length > 0">
					<div class="max-h-36 overflow-y-auto">
						<ng-container *ngFor="let item of dataDetail.soporte; let i = index">
							<div class="w-full my-2">
								<span id="badge-dismiss-default"
									class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded">
									{{ item.file.name }}
									<button (click)="deleteFile(item.id)" type="button"
										class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900"
										data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
										<svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor"
											viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd"
												d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
												clip-rule="evenodd"></path>
										</svg>
										<span class="sr-only">Remove badge</span>
									</button>
								</span>
							</div>
						</ng-container>
					</div>
				</ng-container>
			</ion-item>
		</ion-list>
	</ng-container>

	<ion-list class="px-4 m-2">
		<ng-container *ngFor="let item of listDetails">
			<span id="badge-dismiss-default"
				class="inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-blue-800 bg-blue-100 rounded">
				{{ getNameService(item.idservicio) }} ({{ item.cantidad }}) - Soportes: ({{ item.soporte.length }})
				<button (click)="removeDetail(item.idservicio)" type="button"
					class="inline-flex items-center p-0.5 ml-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900"
					data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
					<svg aria-hidden="true" class="w-3.5 h-3.5" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
							clip-rule="evenodd"></path>
					</svg>
					<span class="sr-only">Remove badge</span>
				</button>
			</span>
		</ng-container>
	</ion-list>
</ion-content>


<ion-footer>
	<ion-toolbar>
		<ion-button expand="full" size="small" (click)="fnCreate()">
			<ion-icon slot="end" size="small" name="save-sharp"></ion-icon>
			Crear Orden
		</ion-button>
	</ion-toolbar>
</ion-footer>
