<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="cancelChanges()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Visualizar Archivos Iniciales</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<swiper-container>
		<swiper-slide *ngFor="let file of items; let i = index;">
			<div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
				<span>{{file.name}} - {{ file.index }}</span>
				<ng-container [ngSwitch]="file.tipo">
					<ng-container *ngSwitchCase="'MP4'">
						<video>
							<source [src]="file.soporte">
						</video>
					</ng-container>
					<ng-container *ngSwitchDefault>
						<img [src]="file.soporte" [alt]="file.tiposoporte">
					</ng-container>
				</ng-container>

				<div class="w-full px-5 my-2">
					<a (click)="download(file.soporte)"
						class="flex justify-center w-full bg-red-500 p-4  rounded-full tracking-wide
				font-semibold  focus:outline-none focus:shadow-outline hover:bg-red-600 shadow-lg cursor-pointer transition ease-in duration-300 mr-2">
						Descargar <ion-icon name="download-outline" class="text-white"></ion-icon>
					</a>
				</div>
			</div>
		</swiper-slide>
	</swiper-container>
</ion-content>
