<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="cancelChanges()">
				<ion-back-button defaultHref="/" text=""></ion-back-button>
			</ion-button>
		</ion-buttons>
		<ion-title>{{ title }}</ion-title>
	</ion-toolbar>
	<ion-toolbar *ngIf="items.length > 0">
		<ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
	<ion-list id="modal-list" [inset]="true" *ngIf="items.length > 0; else noContent">
		<ion-accordion-group>
			<ion-accordion [value]="item.idterceroservicio" *ngFor="let item of filteredItems; trackBy: trackItems">
				<ion-item slot="header" color="light">
					<ion-label>{{
						item.tercero }}</ion-label>
				</ion-item>
				<div class="ion-padding" slot="content">
					<div class="grid grid-cols-2 grid-rows-2 gap-4 my-4 pb-2 border-b-2 border-gray-300">
						<p class="inline-flex flex-col xl:flex-row xl:items-center text-gray-800">
							<span class="text-center items-center flex">
								Valor:
							</span>
							<span class="mt-2 xl:mt-0" *ngIf="item.valor">
								{{ item.valor | currency:"COP ":"symbol" }}
							</span>
							<span class="mt-2 xl:mt-0" *ngIf="!item.valor">
								Sin valor asignado
							</span>
						</p>
						<p class="inline-flex flex-col xl:flex-row xl:items-center text-gray-800">
							<span class="text-center items-center flex">
								Tercero:
							</span>
							<span class="mt-2 xl:mt-0">
								{{ item.tercero }}
							</span>
						</p>
						<p class="inline-flex flex-col xl:flex-row xl:items-center text-gray-800">
							<span class="text-center items-center flex">
								Un. Medida:
							</span>
							<span class="mt-2 xl:mt-0">
								{{ item.unidad_medida }}
							</span>
						</p>
						<p class="inline-flex flex-col xl:flex-row xl:items-center text-gray-800">
							<span class="text-center items-center flex">
								Ubicación:
							</span>
							<span class="mt-2 xl:mt-0">
								{{ item.ciudadcobertura }}({{
								item.departamentocobertura }})
							</span>
						</p>
						<p class="inline-flex flex-col xl:flex-row xl:items-center text-gray-800">
							<span class="text-center items-center flex">
								Servicio - (Tipo):
							</span>
							<span class="mt-2 xl:mt-0">
								{{ item.servicio }}({{ item.tiposervicio}})
							</span>
						</p>
					</div>
					<ion-item>
						<ion-button type="ion-button"
							class="transition ease-in-out delay-150 text-white bg-transparent hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center mr-2"
							(click)="assign(item)">
							Asignar
						</ion-button>
					</ion-item>
				</div>
			</ion-accordion>
		</ion-accordion-group>
	</ion-list>
	<ng-template #noContent>
		No hay tercero
	</ng-template>
</ion-content>
