@font-face {
    font-family: 'Poppins-title';
    src: url('../assets/fonts/Poppins-Bold.ttf');    
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins-subtitle';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');    
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-paragraph';
    src: url('../assets/fonts/Poppins-Regular.ttf');    
    font-style: normal;
  }