<ion-item *ngIf="detail" [routerLink]="['../view-info-detail', detail.idorden, detail.iddetalleorden]" [detail]="false">
	<div slot="start" class="dot dot-unread"></div>
	<ion-label class="ion-text-wrap">
		<h2>
			# {{detail.idorden}} {{ detail.tipoorden }}
			<span class="date">
				<ion-note>{{ calculateDaysElapsed(detail.fechaentrega) }}</ion-note>
				<ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
			</span>
		</h2>
		<h3>{{ detail.clientesede }} ({{ detail.cliente }})</h3>
		<p>
			Fecha - Hora de entraga: {{ (detail.fechaentrega) || '-' }} - {{ detail.horaentrega || '-' }}
		</p>
	</ion-label>
</ion-item>
