<ion-item *ngIf="detail" [routerLink]="['../view-info-detail', detail.idorden, detail.iddetalleorden]" [detail]="false">
	<div slot="start" class="dot dot-unread"></div>
	<ion-label class="ion-text-wrap">
		<h3> <strong>
			# {{detail.iddetalleorden}} {{ detail.servicio }} </strong>
			<span class="date">
				<ion-note>{{ calculateDaysElapsed(detail.fechaentrega) }}</ion-note>
				<ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
			</span>
		</h3>
		<p> <strong> Cliente:</strong> {{ detail.cliente }}</p>
		<p> <strong> Sede:</strong> {{ detail.clientesede }}</p>
		<p> <strong> Fecha de entraga:</strong> {{ (detail.fechaentrega) || '-' }} </p>
		<p> <strong> Hora de entraga: </strong>{{ detail.horaentrega || '-' }}</p>
	</ion-label>
</ion-item>
