<ion-content [fullscreen]="true">
	<div class="container">
		<div class="content-img">
			<img src="../../../../assets/logo/logo.png" alt="">
		</div>
		<h1 class="heading">👋 Bienvenido(a)<br><br></h1>
		<p class="subtitle">¡Inicia sesión para continuar!</p>

		<ion-row *ngIf="alert">
			<app-alert [alert]="alert"></app-alert>
		</ion-row>

		<form [formGroup]="formData">
			<ion-item lines="none" class="ion-item">
				<fieldset class="input-item">
					<legend>Correo electronico</legend>
					<ion-input formControlName="username" type="text" placeholder="User_123"></ion-input>
				</fieldset>
			</ion-item>
			<ion-item lines="none" class="ion-item">
				<fieldset class="input-item">
					<legend>Contraseña</legend>
					<div class="input-password">
						<ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'"
							placeholder="*******"></ion-input>
						<ng-container [ngSwitch]="showPassword">
							<ng-container *ngSwitchCase="true"><ion-icon (click)="fnShowPassword()" class="icon"
									name="close-outline"></ion-icon></ng-container>
							<ng-container *ngSwitchCase="false"><ion-icon (click)="fnShowPassword()" class="icon"
									name="eye-outline"></ion-icon></ng-container>
						</ng-container>
					</div>
				</fieldset>
			</ion-item>
			<ion-button class="button" (click)="signIn()" expand="block" [disabled]="isLoading">
				<svg *ngIf="isLoading" class="svg" f xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<circle class="circle" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
					<path class="path" fill="currentColor"
						d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
					</path>
				</svg>
				{{ isLoading ? 'Cargando...' : 'Ingresar'}}
			</ion-button>
		</form>
	</div>
</ion-content>
<ion-footer color="white">
	<ion-toolbar>
		<p class="copyright">Creado con ❤️</p>
	</ion-toolbar>
</ion-footer>
